# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
requirements.txt
# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
.env
venv/

# VSCode and other editor configs
.vscode/
.idea/

# SQLite database
*.db

# Logs
*.log
